[GENERAL]
suffix_output_filename = conv

; The conversion will be applied to the entire text in the window. Setting this to 'TRUE' will only convert the selected text.
use_only_what_is_selected = false

[PLATFORMS]
🔴 Amiga = Amiga 500, 600, 1200, ...
🟦 Atari = Atari 8-bit 800XL, 800XE, 130XE, ...
🌈 ZX Spectrum = ZX Spectrum 48k, 128k
🪟 Windows = Windows Ansi/UTF-8

[DIRECTIONS.Amiga]
🪟 Windows -> 🔴 Amiga = Ansi/UTF-8 to Amiga encoding
🔴 Amiga -> 🪟 Windows = Amiga text to Windows encoding

[DIRECTIONS.Atari]
🪟 Windows -> 🟦 Atari = Ansi/UTF-8 to Atari 8-bit encoding
🟦 Atari -> 🪟 Windows = Atari 8-bit encoding to Windows encoding

[DIRECTIONS.ZX]
🪟 Windows -> 🌈 ZX = Ansi/UTF-8 to ZX Spectrum encoding
🌈 ZX -> 🪟 Windows = ZX Spectrum encoding to Ansi/UTF-8

[DIRECTIONS.Win]
🪟 Windows -> 🪟 Windows = Remove diacritics, toLower, toUpper...

[PROFILES.Amiga.w2b]
🔴 KOI8-CS = -k amiga_koi8.dict -t w2b unix Win1250
🔴 E2 = -k amiga_e2.dict -t w2b unix Win1250
🔴 PBX = -k amiga_pbx.dict -t w2b unix Win1250
🔴 Local Infinity CZ = -k amiga_cz.dict -t w2b unix Win1250
🔴 Kamenický = -k amiga_kam.dict -t w2b unix Win1250
🔴 ISO Latin 1 = -k amiga_l1.dict -t w2b unix Win1250
🔴 ISO Latin 2 = -k amiga_l2.dict -t w2b unix Win1250
🔴 PC-Latin 2 = -k amiga_pl2.dict -t w2b unix Win1250

[PROFILES.Amiga.b2w]
🔴 KOI8-CS = -k amiga_koi8.dict -t b2w windows Win1250
🔴 E2 = -k amiga_e2.dict -t b2w windows Win1250
🔴 PBX = -k amiga_pbx.dict -t b2w windows Win1250
🔴 Local Infinity CZ = -k amiga_cz.dict -t b2w windows Win1250
🔴 Kamenický = -k amiga_kam.dict -t b2w windows Win1250
🔴 ISO Latin 1 = -k amiga_l1.dict -t b2w windows Win1250
🔴 ISO Latin 2 = -k amiga_l2.dict -t b2w windows Win1250
🔴 PC-Latin 2 = -k amiga_pl2.dict -t b2w windows Win1250

[PROFILES.Atari.w2b]
🟦 Atari 8-bit = -k atari_en.dict -t w2b unix Win1250
🟦 Atari 8-bit - CZ.fnt = -k atari_cz.dict -t w2b unix Win1250

[PROFILES.Atari.b2w]
🟦 Atari 8-bit = -k atari_en.dict -t b2w windows Win1250
🟦 Atari 8-bit - CZ.fnt = -k atari_cz.dict -t b2w windows Win1250

[PROFILES.ZX.w2b]
🌈 ZX Spectrum = -k zx_full.dict -t w2b unix Win1250
🌈 ZX(Win) for BasinC - CZ.fnt = -k zx_win.dict -t w2w -e 0 -invert windows Win1250

[PROFILES.ZX.b2w]
🌈 ZX Spectrum = -k zx_full.dict -t b2w windows Win1250
🌈 ZX(Win) for BasinC = -k zx_win.dict -t w2w -e 0 windows Win1250

[PROFILES.Win.w2w]
🪟 To Upper = -k toUpper.dict -t w2w windows Win1250
🪟 To Lower = -k toLower.dict -t w2w windows Win1250
🪟 Remove Diacritics = -k removeDiacritics.dict -t w2w windows Win1250

[PROFILES_WITH_F_ANSI]
🔴 KOI8-CS
🔴 E2
🔴 PBX
🔴 Local Infinity CZ
🔴 Kamenický
🔴 ISO Latin 1
🔴 ISO Latin 2
🔴 PC-Latin 2
🟦 Atari 8-bit
🟦 Atari 8-bit - CZ.fnt
🌈 ZX Spectrum
🌈 ZX(Win) for BasinC

[PROFILES_CLIPBOARD_DISABLED]
🟦 Atari 8-bit
🟦 Atari 8-bit - CZ.fnt
🌈 ZX Spectrum

[ENCODINGS]
UTF-8 = utf-8
Win1250 = Central European (Windows 1250)
Win1251 = Cyrillic (Windows 1251)
Win1252 = Western (Windows 1252)
CP437 = DOS (CP 437)
8859-1 = Western (ISO 8859-1)
8859-2 = Central European (ISO 8859-2)
8859-3 = Western (ISO 8859-3)
8859-15 = Western (ISO 8859-15)
